#nav {
  justify-content: space-evenly;
  display: flex;
}
#button {
flex-direction: row;
display: flex;
}
#homeTitle {
background-color: #264c5e;
color: lightblue;
font-size: x-large;
padding: 10px;
font-family: georgia;
margin: 100px 100px 100px;
}
#cardBody {
  border: solid;
  border-color:aliceblue;
}
