#nav {
  justify-content: space-evenly;
  display: flex;
}

#button {
flex-direction: row;
display: flex;
}

#homeTitle {
background-color: #264c5e;
color: lightblue;
font-size: x-large;
padding: 10px;
font-family: georgia;
margin: 100px 100px 100px;
}

#cardBody {
  border: solid;
  border-color:aliceblue;
}

#text {
  font-size: 15;
}

#header, h1, header p {
  font-size: 15px;
  margin: 5px 0px 0px 50px;
  color:aliceblue;
  background-color: #264c5e;
}

#formTitle {
  font-family: georgia;
}

#profileHeader {
  color: aliceblue;
}

#charForm {
  background-color: lightblue;
  flex-direction: column;
  display: flex;
  max-width: 300px;
  padding: 20px;
}

#root {
  background-color: black;
  background-image: url("../public/assets/image13.jpeg");
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

#homeimage {
  background-image: url('../build/assets/image3.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: 80%;
  text-align: center;
}